.background-image {
    position: relative;
    background:url(../image/bgAdvantagesMob.png) no-repeat;
    background-position:  bottom left -200px;
    height: 50%;
}

.background-image::after {
    content: "";

    position: absolute;
    bottom: 45px;
    left: 0;
    width: 100%;
    height: 51.5%;
    background-color: rgb(247,248,150);
    z-index: -1;
}

.advantages {
    margin-top: 122px;
}

.advantages_title {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 48px;
    margin-top: 0;
}

.advantages_list {
    padding-bottom: 51px;
}

.advantages_item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    padding-left: 132px;
    padding-right: 14px;
    margin-bottom: 30px;
    min-height: 175px;

    text-align: start;

    background-color: white;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
}

.sertificate::after {
    content: "";
    width: 81px;
    height: 80px;

    position: absolute;
    top: 47px;
    left: 28px;

    background-image: url(../image/sertificate.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.models-practic::after {
    content: "";
    width: 65px;
    height: 81px;

    position: absolute;
    top: 47px;
    left: 32px;

    background-image: url(../image/models-practic.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.sale::after {
    content: "";
    width: 81px;
    height: 81px;

    position: absolute;
    top: 47px;
    left: 28px;

    background-image: url(../image/sale.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.service::after {
    content: "";
    width: 84px;
    height: 84px;

    position: absolute;
    top: 46px;
    left: 25px;

    background-image: url(../image/service.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.experts::after {
    content: "";
    width: 70px;
    height: 70px;

    position: absolute;
    top: 52px;
    left: 31px;

    background-image: url(../image/experts.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.presents::after {
    content: "";
    width: 79px;
    height: 79px;

    position: absolute;
    top: 49px;
    left: 24px;

    background-image: url(../image/presents.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

@media (min-width: 768px) {

    .background-image {
        background: url(../image/bgAdvantagesTab.png) no-repeat;
        background-position: bottom -3px left 144px;
    }

    .background-image::after {
        height: 37.5%;
    }

    .advantages {
        margin-top: 190px;
    }
    
    .advantages_title {
        margin-top: 0;
        margin-bottom: 66px;
    }

    .advantages_list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .advantages_item {
        width: 45.5%;
        box-sizing: border-box;
    }

    .advantages_item:nth-child(2n) {
        margin-left: 4.8%;
    }
}

@media (min-width: 1024px) {
    .background-image {
        background: url(../image/bgAdvantagesLap.png) no-repeat;
        background-position: bottom -32px left -107px;
    }

    .background-image::after {
        height: 51%;
    }

    .advantages {
        margin-top: 180px;
    }

    /* .advantages_title {
        margin-left: 307px;
    } */

    .advantages_list {
        margin-left: 307px;
    }
}

@media (min-width: 1440px) {
    .background-image {
        background-position: bottom -32px left 20px;
    }
}

@media (min-width: 1600px) {
    .background-image {
        background-position: bottom -32px left 100px;
    }  
}

@media (min-width: 1920px) {
    .background-image {
        background-position: bottom -20px left 310px;
    } 
    .advantages_title {
        margin-left: 0;
        margin-bottom: 80px;
    }

    .advantages {
        margin-top: 186px;
    }

    .advantages_list {
        margin-left: 375px;
    }

    .advantages_item {
        padding-left: 160px;
        padding-right: 30px;
        width: 48%;
        box-sizing: border-box;
    }

    .advantages_item:nth-child(2n) {
        margin-left: 4%;
    }

    .sertificate::after {
        left: 36px;
    }
    
    .models-practic::after {
        left: px;
    }
    
    .sale::after {
        left: 28px;
    }
    
    .service::after {
        left: 38px;
    }
    
    .experts::after {
        left: 44px;
    }
    
    .presents::after {
        left: 40px;
    }
}