html, body {
  width: 100%;
  /* height: 100%; */
  overflow-x: hidden;
}

.html {
  height: 100%;
}

body {
  /* min-width: 320px;
  max-width: 1920px; */
  overflow-y: hidden;
  margin: 0 auto;
  padding: 0;
  
  font-family: "SolomonSans-Medium", sans-serif;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #252525;
  
  background-color: rgb(255, 255, 255);
}
  
.visually-hidden {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  
img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
/* .container {
  padding-left: 5.5%;
  padding-right: 5.5%;
  margin: 0 auto;
  max-width: 1100px;
} */

.section-title {
  font-family: "SolomonSans-Bold", sans-serif;
  font-size: 44px;
  line-height: 57px;

  padding-top: 60px;
  padding-bottom: 50px;
  margin: 0;
}

.button {
  background-color: transparent;
  border: 1px solid #252525;
  text-transform: uppercase;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 42px;
  padding-right: 42px;
  margin-top: 10px;
}

.button:active,
.button:hover,
.button:focus {
    outline: none;
    color: white;
    background-color: #252525;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 58px;
    line-height: 75px;
  
    padding-top: 84px;
    padding-bottom: 64px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 47px;
    padding-right: 47px;
  }
}

@media (min-width: 1920px) {

}