.facts_container {
    position: relative;
    margin: 0 auto;
}

.facts_title {
    padding-top: 62px;
    padding-bottom: 31px;
    width: 90%;
    margin: 0 auto;
}

.facts_list {
    position: relative;
    width: 322px;
    margin: 0 auto;
    text-align: start;
}

.facts_list::after {
    content: "";
    width: 208px;
    height: 227px;

    position: absolute;
    bottom: -257px;
    left: 58px;
    z-index: -1;

    background-image: url(../image/hempMob.png);
    background-repeat: no-repeat;
}

.facts_item { 
    position: relative;   
    box-sizing: border-box;
    padding-left: 112px;
    width: 100%;
}

.facts_item-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 0;
}

.facts_description {
    margin-top: 7px;
    margin-bottom: 44px;
}

.economical:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 6px;

    width: 86px;
    height: 85px;

    background: url(../image/econom.png) no-repeat;
}

.natural:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 9px;

    width: 81px;
    height: 81px;

    background: url(../image/natural.png) no-repeat;
}

.universal:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 11px;

    width: 78px;
    height: 75px;

    background: url(../image/universal.png) no-repeat;
}

.quality:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 11px;

    width: 77px;
    height: 67px;

    background: url(../image/quality.png) no-repeat;
}

@media (min-width: 768px) {

    .facts_title {
        width: 630px;
        padding-top: 82px;
    }

    .facts_list {
        position: relative;
        z-index: 2;
        width: 728px;
        margin-top: 87px;
        padding-left: 40px;
        display: flex;
        flex-wrap: wrap;
    }

    .facts_list::after {
        width: 499px;
        height: 543px;

        bottom: 32px;
        left: 425px;
        background-image: url(../image/hempTab.png);
    }

    .facts_item { 
        position: relative;   
        box-sizing: border-box;
        padding-top: 73px;
        padding-left: 0;
        padding-right: 30px;
        width: 243px;
    }

    .economical:after {
        top: -11px;
        left: 2px;
    }

    .natural:after {
        top: -19px;
        left: 13px;
    }
    
    .universal:after {
        top: -5px;
        left: 1px;
    }
    
    .quality:after {
        top: 7px;
        left: 6px;
    }
}

@media (min-width: 1024px) {
    .facts_title {
        width: 930px;
        padding-top: 84px;
    }

    .facts_list {
        width: 934px;
        padding-left: 0;
    }

    .facts_list::after {
        width: 649px;
        height: 706px;

        bottom: -77px;
        left: 482px;
        background-image: url(../image/hempLap.png);
    }

    .facts_item:nth-child(2n) { 
        width: 450px;
        padding-right: 235px;
    }
}

@media (min-width: 1920px) {
    .facts_title {
        width: 1100px;
        padding-top: 80px;
    }

    .facts_list {
        width: 1106px;
        margin-top: 80px;
    }

    .facts_list::after {
        bottom: -130px;
        left: 630px;
    }

    .facts_item { 
        width: 283px;
    }

    .facts_item:nth-child(2n) { 
        width: 542px;
        padding-right: 290px;
    }
}

