.gallery {
    margin-bottom: 70px;
}
.gallery_title {
    margin: 0;
    padding: 0;
    margin-bottom: 48px;
}

.gallery_list {
    width: 294px;
    height: 935px;
    overflow: hidden;
    margin: 0 auto;
    border: 14px solid rgba(1,1,1,0.1) ;
}

.gallery_item {
    margin: 0 auto;
    width: 294px;
    height: 80px;
}

.gallery_item img {
    width: 294px;
    height: 80px;
    object-fit: cover;
}

.active-image {
    width: 294px;
    height: 294px;
}

.active-image img {
    width: 294px;
    height: 294px;
}

@media (min-width: 768px) {
    .gallery {
        margin-bottom: 100px;
    }
    .gallery_title {
        margin-bottom: 61px;
    }

    .gallery_list {
        width: 630px;
        height: 2310px;
        border: 30px solid rgba(1,1,1,0.1);
    }

    .gallery_item {
        margin: 0 auto;
        width: 630px;
        height: 210px;
    }

    .gallery_item img {
        width: 630px;
        height: 210px;
    }
    
    .active-image {
        width: 630px;
        height: 630px;
    }

    .active-image img {
        width: 630px;
        height: 630px;
    }
}

@media (min-width: 1024px) {
    .gallery {
        margin-bottom: 95px;
    }

    /*подравнять блок по контейнеру*/

    .gallery_container {
        /* padding-left: 47px; */
    }

    .gallery_border {
        margin-left: 47px;
        margin-top: 62px;
        overflow-x: auto;
        border: 32px solid rgba(1,1,1,0.1);
        border-right: none;
    }

    /* .gallery_container::-webkit-scrollbar {
        width: 0px;
    } */

    .gallery_list {
        display: flex;
        min-width: 1500px;
        width: 100%;
        height: 450px;
        border: none;
    }

    .gallery_item {
        margin: 0 auto;
        width: 10%;
        height: 450px;
    }

    .gallery_item img {
        height: 450px;
    }

    .active-image {
        width: 450px;
        height: 450px;
    }

    .active-image img {
        width: 450px;
        height: 450px;
    }
}

@media (min-width: 1920px) {
    .gallery_border {
        margin-left: 160px;
        margin-top: 62px;
        border: 32px solid rgba(1,1,1,0.1);
        border-right: none;
    }

    .gallery_list {
        min-width: 1980px;
        height: 540px;
    }

    .gallery_item {
        margin: 0 auto;
        width: 180px;
        height: 540px;
    }

    .gallery_item img {
        height: 540px;
    }

    .active-image {
        width: 540px;
        height: 540px;
    }

    .active-image img {
        width: 540px;
        height: 540px;
    }
}
