.header {
    position: relative;
    z-index: 2;

    font-family: "SolomonSans-Medium", sans-serif;
    color: white;
}

.head-nav, .menu-nav {
    width: 100%;
}

.header_nav {
    background-color: #262626;
}

.header_menu {
    background-color: #5c4c69;
    margin-top: -2px;
}

.image-logo {
    padding-top: 20px;
    padding-bottom: 12px;
}

.header_brand-contacts {
    display: none;
    font-size: 16px;
}

.header_brand-contacts .contacts-phone {
    color: white;
    text-decoration: none;

    line-height: 21px;
    margin-bottom: 2px;
}

.header_brand-contacts .contacts-adres {
    line-height: 19px;
}

.header_navbar-toggler {
    display: block;
    padding-top: 22px;
    padding-bottom: 28px;
    width: 23px;
    background-color: transparent;
    border: none;
    outline: none;
}

.header_navbar-toggler::after {
    content: "";

    position: absolute;
    top: 86px;
    left: 5.5%;
    width: 23px;
    height: 2px;

    background-color: white;
    box-shadow: 0 8px 0 0 white, 0 16px 0 0 white;
}

.header_navbar-toggler:focus::after,
.header_navbar-toggler:focus::before {
    background-color: #be91e1;
    box-shadow: 0 8px 0 0  #be91e1, 0 16px 0 0 #be91e1;
}

.header_menu--opend .header_navbar-toggler::before {
    content: "";

    position: absolute;
    top: 100px;
    left: 5.5%;
    width: 23px;
    height: 2px;

    background-color: white;
}

.header_menu--opend .header_navbar-toggler::after {
    content: "";

    position: absolute;
    top: 100px;
    left: 5.5%;
    width: 23px;
    height: 2px;

    background-color: white;
    box-shadow: none;
}

.header_menu--opend .header_navbar-toggler::before {
    transform: rotate(45deg);
}

.header_menu--opend .header_navbar-toggler::after {
    transform: rotate(-45deg);
}

.header_menu--opend .header_navbar-toggler:focus::before,
.header_menu--opend .header_navbar-toggler:focus::after {
    background-color: #be91e1;
    box-shadow: none;
}

.header_main-list {
    margin: 0;
    padding: 0;
}

.header_main-list a {
    color: white;
    text-decoration: none;
}

.header_main-list a:focus,
.header_main-list a:active,
.header_main-list a:hover {
    color: #be91e1;
    outline: none;
}

.header_main-list li {
    padding-bottom: 40px;
}

@media (min-width: 768px) {
    .header_nav {
        height: 100px;
    }

    .header_container-nav {
        display: flex;
        justify-content: space-between;

        padding-left: 38px;
        padding-right: 38px;
    }

    .header_image-logo {
        padding-top: 25px;
        padding-bottom: 17px;
    }

    .header_brand-contacts {
        display: flex;
        flex-direction: column;

        align-items: flex-end;
        margin: auto 0;
        margin-top: 26px;
    }

    .contacts-title {
        margin-top: 3px;
    }

    .header_brand-contacts .contacts-adres {
        margin: 0 auto;
    }

    .header_menu {
        margin-top: 0;
    }

    .header_container-menu::after {
        top: 116px;
        left: 5.5%;
    }

    .header_menu--opend .header_container-menu::after {
        top: 124px;
        left: 38px;
    }

    .header_navbar-toggler::after {
        top: 116px;
        left: 38px;
    }

    .header_navbar-toggler::before {
        top: 124px;
        left: 38px;
    }

    .header_menu--opend .header_navbar-toggler::before {
        top: 122px;
        left: 38px;
    }
    
    .header_menu--opend .header_navbar-toggler::after {
        top: 122px;
        left: 38px;
    }
    
    .header_menu--opend .header_container-menu::before {
        top: 122px;
        left: 5.5%;
    }
    
    .header_menu--opend .header_container-menu::after {
        top: 122px;
        left: 5.5%;
    }
}

@media (min-width: 1024px) {

    .header_navbar-toggler {
        display: none;
        padding-top: 22px;
        padding-bottom: 22px;
        width: 23px;
        opacity: 0;
    }

    .header_container-nav {
        padding-left: 45px;
        padding-right: 45px;
    }

    .header_container-menu {
        padding-left: 55px;
        padding-right: 55px;
    }

    .header_container-menu::after {
        display: none;
    }

    .header_container-list {
        display: block;
    }

    .header_main-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header_main-list li {
        padding-top: 14px;
        padding-bottom: 17px;
    }
}

@media (min-width: 1920px) {
    .header_nav .header_container-nav {
        max-width: 1100px;
        margin: 0 auto;
    }

    .contacts-title {
        margin-top: 5px;
    }

    .header_container-menu {
        max-width: 1100px;
    }

    .header_main-list {
        justify-content: space-around;
    }
}