/* сделать изображения контентными + кружочки разместить отдельно */

.main-slider {
    background-color: #be91e1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-slider_slick {
    overflow: hidden;
    width: 320px;
    margin: 0 auto;
    scrollbar-width: none;
}

.main-slider_slick::-webkit-scrollbar {
    width: 0px;
}

.main-slider_sliders {
    display: flex;
    width: 1600px;
    padding: 0;
}

.main-slider_content {
    width: 320px;
}

.main-slider_content {
    text-align: start;
}

.main-slider_image {
    display: none;
}

.main-slider_content p {
    margin: 0;
}

.main-slider_title {
    font-family: "SolomonSans-Bold", sans-serif;
    font-size: 44px;
    line-height: 57px;

    padding-top: 20px;
    padding-bottom: 10px;
}

.main-slider_caption {
    font-family: "SolomonSans-Bold", sans-serif;
    font-size: 34px;
    line-height: 44px;
}

.main-slider_list {
    padding-top: 20px;
}

.main-slider_list li {
    font-family: "SolomonSans-BoldItalic";

    position: relative;
    padding-left: 18px;
    margin-bottom: 10px;
}

.main-slider_list li::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 0;
    width: 11px;
    height: 11px;

    background-image: url(../image/sheet.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.main-slider_date {
    font-family: "SolomonSans-MediumItalic", sans-serif;

    background-color: #b385dd;
    border-radius: 10px;

    position: relative;
    margin-top: 18px;
    margin-bottom: 10px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 35px;
}

.main-slider_date::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 14px;
    width: 7.344px;
    height: 23.5px;

    background-image: url(../image/info.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.main-slider_info-list {
    margin-top: 30px;
    height: 150px;

    background-image: url(../image/vertical-border.svg);
    background-repeat: no-repeat;
}

.main-slider_info-item {
    font-family: "SolomonSans-BoldItalic", sans-serif;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 13px;
}

.main-slider_dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 17px;

    color: #9d6ad1;
}

.main-slider_prev-slide {
    width: 12px;
    height: 12px;
    margin-top: 18px;

    background-image: url(../image/slide-down.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    transform: rotate(90deg);
    opacity: 0.5;
    outline: none;
}

.main-slider_next-slide {
    width: 12px;
    height: 12px;
    margin-top: 18px;

    background-image: url(../image/slide-down.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    transform: rotate(-90deg);
    opacity: 0.5;
    outline: none;
}

.main-slider_prev-slide:hover,
.main-slider_prev-slide:active,
.main-slider_next-slide:hover,
.main-slider_next-slide:active {
    opacity: 1;
}

.main-slider_list-number {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-left: 10px;
}

.main-slider_list-number button {
    position: relative;
    height: 50px;
    display: block;
    text-align: center;
    width: 50px;
    padding: 0;
    flex-grow: 1;

    line-height: 50px;
    font-size: 0;

    background-color: transparent;
    border: none;
}

.main-slider_list-number button::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #9d6ad1;
}

.main-slider_list-number .main-slider_active-number {
    font-size: 34px;
    line-height: 44px;
    color: #9d6ad1;
}

.main-slider_list-number .main-slider_active-number::after {
    height: 0;
}

@media (min-width: 768px) {
    .main-slider {
        flex-direction: row;
    }

    .main-slider::after {
        content: "";

        position: absolute;
        top: -290px;
        left: 50px;
        z-index: 1;

        width: 1197px;
        height: 1197px;

        background-image: url(../image/elipses.svg);
    }

    .main-slider .main-slider_dots {
        padding: 0;
        padding-left: 3px;
        margin: auto 0;
        margin-top: 220px;
    }

    .main-slider_slick {
        order: 2;
        width: 869px;
    }

    .main-slider_sliders {
        width: 4350px;
    }

    .main-slider_content {
        width: 870px;
        padding-left: 5px;
        position: relative;
    }

    .main-slider_content::after {
        content: "";
        position: absolute;
        z-index: 2;
        top: 169px;
        left: 357px;

        width: 357px;
        height: 357px;

        box-sizing: border-box;
        background-color: transparent;
        border: 20px solid white;
    }

    .main-slider_description {
        position: relative;
        z-index: 4;
    }

    .main-slider_image {
        display: block;
        position: absolute;
        top: 22px;
        left: 205px;
        z-index: 3;
        width: 704px;
        height: 733px;
    }

    .main-slider_dots {
        order: 1;
        flex-direction: column;

    }

    .main-slider_list-number {
        flex-direction: column;
        display: block;
        margin-right: 0;
        margin-bottom: 15px;
        margin-top: 5px;
    }

    .main-slider_list-number li {
        width: auto;
    }

    .main-slider_list-number li::after {
        width: 1px;
        height: 100%;
    }

    .main-slider_prev-slide {
        transform: rotate(180deg);
        margin: 0 auto;
    }

    .main-slider_next-slide {
        transform: rotate(0deg);
        margin: 0 auto;
    }

    .main-slider_dots div,
    .main-slider_dots ul {
        flex-grow: 0;
    }

    .main-slider_slick .main-slider_slide {
        padding: 0;
        padding-left: 5px;
    }

    .main-slider_title,
    .main-slider_caption,
    .main-slider_list,
    .main-slider_date {
        width: 43%;
    }

    .main-slider_title {
        padding-top: 13px;

        font-size: 58px;
        line-height: 75px;
    }

    .main-slider_caption {
        margin-bottom: 5px;

        font-size: 44px;
        line-height: 57px;
    }

    .main-slider_date {
        width: 295px;
        margin-bottom: 22px;
    }

    .main-slider_info-list {
        position: relative;
        z-index: 4;
        display: flex;
        justify-content: space-around;
        margin-top: 35px;
        width: 690px;
        height: 120px;
    
        background-image: url(../image/gorizontal-border.svg);
        background-repeat: no-repeat;
    }

    .main-slider_info-item {
        padding-top: 20px;
    }

}

@media (min-width: 1024px) {

    .main-slider::after {
        left: 173px;
    }

    .main-slider_slick {
        width: 1064px;
        margin-left: 0;
    }

    .main-slider_sliders {
        width: 5325px;
    }

    .main-slider_content {
        width: 1065px;
        position: relative;
    }

    .main-slider_content::after {
        top: 75px;
        left: 470px;

        width: 500px;
        height: 500px;
    }

    .main-slider .main-slider_dots {
        padding-left: 10px;
        margin-left: auto;
    }

    .main-slider_title, 
    .main-slider_caption, 
    .main-slider_list, 
    .main-slider_date {
        width: 450px;
    }

    .main-slider_date {
        width: 30%;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .main-slider_image {
        top: -28px;
        left: 295px;
        width: 817px;
        height: 851px;
    }

    .main-slider_info-list {
        margin-top: 40px;
        width: 930px;
    }

}

@media (min-width: 1920px) {
    .main-slaider {

    }

    .main-slider::after {
        left: 630px;
    }

    .main-slider_slick {
        width: 1198px;
        margin: 0 auto;
    }

    .main-slider .main-slider_dots {
        position: absolute;
        top: 20px;
        left: 16%;
        margin-top: 198px;
    }

    .main-slider_sliders {
        width: 6000px;
    }

    .main-slider_content::after {
        top: 69px;
        left: 623px;
    }

    .main-slider_title, 
    .main-slider_caption, 
    .main-slider_list, 
    .main-slider_date {
        width: 50%;
    }

    .main-slider_title {
        padding-top: 74px;
    }

    .main-slider_content {
        width: 1200px;
        padding-left: 44px;
        position: relative;
        background-image: none;
    }

    .main-slider_date {
        width: 25%;
    }

    .main-slider_image {
        top: -22px;
        left: 438px;
    }

    .main-slider_info-list {
        margin-top: 55px;
        width: 96.5%;
    }
}
