.seminar_item {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.seminar_image {
    width: 100%;
}

.seminar_text-content {
    box-sizing: border-box;
    position: absolute;
    bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: scroll;
    width: 100%;

    color: white;
    text-align: left;

    background-color: rgba(0, 0, 0, 0.75);
}

.seminar_text-content h3 {
    font-family: "SolomonSans-Bold", sans-serif;
    font-size: 20px;
    line-height: 26px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.seminar_text-content:active .seminar_hidden,
.seminar_text-content:hover .seminar_hidden {
    display: block;
}

.seminar_text-content:active,
.seminar_text-content:hover {
    box-sizing: border-box;
    top: 0;
    bottom: 5px;
}

.seminar_hidden {
    display: none;
}

.seminar_hidden a {
    display: inline-block;
    width: auto;
    border-color: white;
    margin-top: 10px;
    margin-bottom: 20px;

    color: white;
    text-decoration: none;
}

.seminar_text-info {
    font-family: "SolomonSans-BoldItalic", sans-serif;
    line-height: 30px;
}

.seminar_old-price {
    opacity: 0.6;
}

.seminar_list .seminar_help-form {
    background-color: #be91e1;
    background-image: url(../image/phoneMobile.png);
    background-repeat: no-repeat;
    background-position: -20px 25px;
    background-size: contain;
    margin-bottom: 30px;
}

.seminar_form-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 23.6%;
    margin-bottom: 35.7%;
    margin-left: 34.15%;
}

.seminar_help-title {
    font-size: 26px;
    line-height: 34px;
    text-align: start;
    margin: 0;
}

.seminar_form-container .button {
    padding: 20px 30px;
}

@media (min-width: 768px) {
    .seminar_text-content {
        overflow: auto;
    }

    .seminar_text-content h3 {
        min-height: 100px;
    }

    .seminar_text-content:active,
    .seminar_text-content:hover {
        top: auto;
        bottom: 5px;
    }

    .seminar_text-content:active h3,
    .seminar_text-content:hover h3 {
        min-height: auto;
    }

    .seminar_list .seminar_help-form {
        background-image: url(../image/phoneTablet.png);
        background-position: 0 15px;
    }
}

@media (min-width: 1024px) {
    .seminar_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .seminar_item {
        width: 48.4%;
        margin-bottom: 25px;
    }

    .seminar_form-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 25%;
        margin-bottom: 31%;
        margin-left: 36%;
    }

    .seminar_list .seminar_help-form {
        background-image: url(../image/phoneTablet.png);
        background-position: 0 50px;
    }
}

@media (min-width: 1920px) {

}