.seminar {
    position: relative;
}
.seminar::after {
    content: "";
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 86.5%;
    left: -22px;

    background-image: url(../image/phoneMobile.png);
    background-repeat: no-repeat;
}

/* исправить наложние на весь контент */ 

.seminar_item {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.seminar_image {
    width: 100%;
}

.seminar_text-content {
    box-sizing: border-box;
    position: absolute;
    bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: scroll;
    width: 100%;

    color: white;
    text-align: left;

    background-color: rgba(0, 0, 0, 0.75);
}

.seminar_text-content h3 {
    font-family: "SolomonSans-Bold", sans-serif;
    font-size: 20px;
    line-height: 26px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.seminar_text-content:active .seminar_hidden,
.seminar_text-content:hover .seminar_hidden {
    display: block;
}

.seminar_text-content:active,
.seminar_text-content:hover {
    box-sizing: border-box;
    top: 0;
    bottom: 5px;
}

.seminar_hidden {
    display: none;
}

.seminar_hidden a {
    display: inline-block;
    width: auto;
    border-color: white;
    margin-top: 10px;
    margin-bottom: 20px;

    color: white;
    text-decoration: none;
}

.seminar_hidden .button:active,
.seminar_hidden .button:focus, 
.seminar_hidden .button:hover {
    outline: none;
    color: #252525;
    background-color: white;
}

.seminar_text-info {
    font-family: "SolomonSans-BoldItalic", sans-serif;
    line-height: 30px;
}

.seminar_old-price {
    opacity: 0.6;
}

.seminar_list .seminar_help-form {
    background-color: #be91e1;
    background-size: contain;
    margin-bottom: 30px;
}

.seminar_form-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 23.6%;
    margin-bottom: 35.7%;
    margin-left: 34.15%;
}

.seminar_help-title {
    font-size: 26px;
    line-height: 34px;
    text-align: start;
    margin: 0;
}

.seminar_form-container .button {
    padding: 20px 30px;
    position: relative;
    z-index: 1;
}

@media (min-width: 500px) {
    .seminar::after {
        top: 87.5%;
        left: 16px;
    }
    
}

@media (min-width: 768px) {
    .seminar_text-content {
        overflow: auto;
    }

    .seminar_text-content h3 {
        min-height: 100px;
    }

    .seminar_text-content:active,
    .seminar_text-content:hover {
        top: auto;
        bottom: 5px;
    }

    .seminar_text-content:active h3,
    .seminar_text-content:hover h3 {
        min-height: auto;
    }

    .seminar::after {
        background-image: url(../image/phoneTablet.png);
        top: 87.5%;
        left: 16px;
    }
}

@media (min-width: 920px) {
    .seminar::after {
        top: 88.5%;
        left: 70px;
    }
}

@media (min-width: 1024px) {

    .seminar_list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .seminar_list::after {
        content: "";

        position: absolute;
        width: 100%;
        height: 100%;

        background-image: url(../image/phoneLaptop.png);
        background-repeat: no-repeat;
        top: 67%;
        left: 485px;
    }

    .seminar::after {
        display: none;
    }

    .seminar_item {
        width: 48.4%;
        margin-bottom: 25px;
    }

    .seminar_form-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 25%;
        margin-bottom: 31%;
        margin-left: 36%;
    }

    .seminar_text-content {
        height: 141px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .seminar_text-content:active,
    .seminar_text-content:hover {
        height: auto;
    }

    .seminar_text-content h3 {
        padding-top: 5px;
        font-size: 26px;
        line-height: 34px;
    }

    .seminar_help-title {
        font-size: 34px;
        line-height: 44px;
        padding-right: 50px;
    }
}

@media (min-width: 1100px) {
    .seminar_list::after {
        top: 69.5%;
        left: 550px;
    }
}

@media (min-width: 1200px) {
    .seminar_list::after {
        top: 71.5%;
        left: 560px;
    }
}

@media (min-width: 1400px) {

}

@media (min-width: 1920px) {

}