.stages {
    background-image: url(../image/paintMobile.png);
    background-repeat: no-repeat;
    background-position: -218px 680px;

    padding-bottom: 5px;
}

.stages_title {
    margin: 0;
    padding-top: 53px;
}

.stages_list {
    padding: 0;
}

.stages_item {
    text-align: start;
    display: flex;
    justify-content: space-between;
    padding-bottom: 28px;
    max-width: 470px;
}

.stages_item .stages_direction {
    width: 48%;
    margin: auto 0;
}

.stages_item span {
    margin: auto;
}

.stages_item .stages_number-container {
    position: relative;
    font-size: 34px;
    line-height: 44px;
    text-align: center;

    display: flex;
    vertical-align: middle;
    width: 80px;
    height: 80px;

    border: 1px solid black;
    border-radius: 50%;
}

.stages_number-container::before {
    content: "";
    width: 60px;
    height: 1px;

    position: absolute;
    top: 40px;
    left: 80px;

    background: linear-gradient(0.25turn, rgba(1, 1, 1, 1), rgba(1, 1, 1, 0.1));
}

.stages_number-container::after {
    content: "";
    width: 10px;
    height: 10px;

    position: absolute;
    top: 35px;
    left: 140px;
    
    border: 1px solid rgba(1, 1, 1, 0.1);
    border-radius: 50%;
}

.stages_caption {
    font-family: "SolomonSans-MediumItalic", sans-serif;
    color: #808080;
    text-align: left;
}

.stages_form-container {
    padding-top: 7px;
}

.form {
    margin: 0 auto;
    /* margin-left: 20px;
    margin-right: 20px; */
    margin-top: 40px;
    padding: 28px;

    background-color: white;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
}

.form legend {
    margin: 0 auto;
    margin-bottom: 20px;
    /* margin-top: 5px; */
    font-family: "SolomonSans-Bold", sans-serif;
    font-size: 20px;
    line-height: 26px;
}

.form input,
.form textarea {
    width: 100%;
    box-sizing: border-box;
    text-align: start;
    padding: 14px;
    margin: 0 auto;
    margin-bottom: 20px;

    border: 1px solid rgba(1, 1, 1, 0.1);
    outline: none;
}

.form input:focus,
.form textarea:focus,
.form input:active,
.form textarea:active {
    border: 1px solid rgba(1, 1, 1, 0.5);
}

.form input::placeholder,
.form textarea::placeholder {
    color: rgba(1, 1, 1, 0.2);
}

.form textarea {
    resize: none;
    margin-bottom: 17px;
}

.form_pravicy {
    display: flex;
}

.checkbox-label {
    position: relative;
    display: flex;
    width: 25px;
    height: 25px;

    border: 1px solid rgba(1, 1, 1, 0.2);
}

input[type="checkbox"]:checked ~ .checkbox-label::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;

    width: 25px;
    height: 25px;

    background-image: url(../image/check.svg);
    background-repeat: no-repeat;
    background-position: 2px 4px;
}

input[type="checkbox"]:focus ~ .checkbox-label {
    border: 1px solid #262626;
}

.checkbox-link {
    padding-left: 12px;
    display: flex;

    text-align: start;
    line-height: 24px;
}

.checkbox-link a {
    color: #252525;
    text-decoration: none;
}

.form_button {
    width: 100%;
    margin-top: 17px;
}

@media (min-width: 500px) {
    .stages {
        background-image: url(../image/paintMobile.png);
        background-position: -165px 615px;
    }
}

@media (min-width: 768px) {
    .stages {
        background-image: url(../image/paintTablet.png);
        background-position: -125px 605px;
    }

    .stages_list .stages_item:nth-child(2n){
        margin-left: 120px;
    }

    .stages_item {
        max-width: none;
    }

    .stages_item .stages_direction {
        width: 70%;
    }

    .form {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 90px;
        padding: 45px;
        padding-top: 30px;
        box-sizing: border-box;
    }

    .form legend {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    .form textarea {
        margin-bottom: 15px;
    }

    .form_button {
        width: 100%;
        margin-top: 26px;
    }
}

@media (min-width: 920px) {
    .stages {
        background-image: url(../image/paintTablet.png);
        background-position: -30px 605px;
    }
}

@media (min-width: 1024px) {
    .stages {
        background-image: url(../image/paintDesktop.png);
        background-position: 277px -89px;
    }

    .stages_container {
        display: flex;
        justify-content: space-between;
        padding-left: 47px;
        padding-right: 47px;
    }

    .stages_steps-container,
    .stages_form-container {
        width: 50%;
    }

    .stages_steps-container {
        max-width: 450px;
    }

    .stages_list {
        padding: 0;
    }

    .stages_item .stages_direction {
        width: 47%;
    }

    .stages_list .stages_item:nth-child(2n) {
        margin-left: 82px;
    }

    .stages_item:nth-child(2n) .stages_direction {
        width: 57%;
    }

    .stages_number-container::before {
        width: 120px;
    }

    .stages_item:nth-child(2n) .stages_number-container::before {
        width: 40px;
    }

    .stages_number-container::after {
        left: 200px;
    }

    .stages_item:nth-child(2n) .stages_number-container::after {
        left: 120px;
    }

    .stages_caption {
        padding: 0;
    }

    .stages_form-container {
        max-width: 450px;
        padding-top: 0;
    }

    .form {
        max-width: 370px;
        margin: 0;
        margin-left: auto;
    }

}

@media (min-width: 1200px) {
    .stages {
        background-position: 420px -89px;
    }
}

@media (min-width: 1440px) {
    .stages {
        background-position: 540px -89px;
    }
}

@media (min-width: 1440px) {
    .stages {
        background-position: 660px -89px;
    }
}

@media (min-width: 1920px) {
    .stages {
        background-position: 750px -89px;
    }

    .stages_steps-container {
        max-width: 510px;
    }

    .stages_list .stages_item:nth-child(2n) {
        margin-left: 60px;
    }

    .stages_item .stages_direction {
        width: 45%;
    }

    .stages_item:nth-child(2n) .stages_direction {
        width: 51%;
    }

    .form {
        max-width: 450px;
    }

    .stages_number-container::before {
        width: 165px;
    }

    .stages_item:nth-child(2n) .stages_number-container::before {
        width: 110px;
    }

    .stages_number-container::after {
        left: 240px;
    }

    .stages_item:nth-child(2n) .stages_number-container::after {
        left: 180px;
    }
}