.submit {
    margin-bottom: 68px;
}

.submit_title {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 18px;
    text-align: start;
}

.submit img {
    width: 322px;
}

.submit_container {
    display: flex;
    flex-direction: column;
    width: 322px;
    margin: 0 auto;
    margin-top: -5px;
    padding-left: 12px;
    padding-bottom: 30px;
    
    box-sizing: border-box;
    border: 1px solid rgba(1, 1, 1, 0.1);
}

.submit_button {
    width: 190px;
    line-height: 21px;
    padding: 18px;
}

@media (min-width: 768px) {
    .submit {
        margin-bottom: 93px;
    }

    .submit img {
        width: 690px;
        height: 400px;
        object-fit: cover;
    }

    .submit_container {
        width: 690px;
        padding: 60px;
        padding-top: 21px;
        
        box-sizing: border-box;
        border: 1px solid rgba(1, 1, 1, 0.1);
    }
}

@media (min-width: 1024px) {
    .submit {
        display: flex;
        justify-content: center;
        max-width: 1600px;
        margin-left: 47px;
        margin-right: 47px;
        margin-bottom: 96px;
    }

    .submit picture{
        order: 2;
        width: 50%;
    }

    .submit img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .submit_container {
        order: 1;
        width: 50%;
        height: 500px;
        padding: 49px;
        padding-top: 26px;
        margin: 0;
        
        box-sizing: border-box;
        border: 1px solid rgba(1, 1, 1, 0.1);
    }

    .text-off {
        display: none;
    }
}

@media (min-width: 1694px) {
    .submit  {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1920px) {
    .submit_container {
        height: 600px;
        padding-left: 244px;
        padding-right: 85px;
        padding-top: 65px;
    }

    .submit img {
        height: 600px;
    }
}