.teachers {
    margin-bottom: 57px;
}

.teachers_title {
    padding: 0;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 21px;
}

.slider-container {
    display: flex;
    justify-content: center;
}

.teachers_arrow-next,
.teachers_arrow-prev {
    position: relative;
    width: 75px;
    height: 210px;
}

.teachers_arrow-prev::after {
    content: "";
    width: 37px;
    height: 10px;

    position: absolute;
    top: 106px;
    left: 17.5px;

    background-image: url(../image/prev.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    cursor: pointer;
    opacity: 0.2;
}

.teachers_arrow-next::after {
    content: "";
    width: 37px;
    height: 10px;

    position: absolute;
    top: 100px;
    right: 18.5px;

    background-image: url(../image/prev.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.2;
}

.teachers_arrow-next:hover::after,
.teachers_arrow-next:active::after,
.teachers_arrow-prev:hover::after,
.teachers_arrow-prev:active::after {
    opacity: 1;
}

.teachers_container {
    overflow: hidden;
    width: 210px;
    scrollbar-width: none;
}

.teachers_container::-webkit-scrollbar {
    width: 0px;
}

.teachers_list {
    width: 1680px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.teachers_item {
    width: 210px;
}

.teachers_name {
    margin-top: 7px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.teachers_status {
    margin: 0;
    opacity: 0.5;
}

.teachers_dots-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    padding-left: 10px;
}

.teachers_dot {
    padding: 0;
    margin-right: 11px;
    width: 9px;
    height: 9px;
    background-color: transparent;
    border: 1px solid rgba(1,1,1,0.5);
    border-radius: 50%;
    outline: none;
}

.teachers_dots-list .active-dot {
    padding: 0;
    margin-right: 11px;
    width: 11px;
    height: 11px;
    background-color: transparent;
    border: 1px solid rgba(1,1,1,1);
    border-radius: 50%;
}

.last-dot .teachers_dot {
    margin-right: 0;
}

@media (min-width: 768px) {
    .teachers {
        margin-bottom: 87px;
    }

    .teachers_title {
        margin-top: 38px;
    }

    .slider-container {
        margin-top: 64px;
    }

    .teachers_container {
        width: 330px;
    }

    .teachers_list {
        width: 2640px;
    }

    .teachers_item {
        width: 330px;
    }

    .teachers_name {
        margin-top: 5px;
    }

    .teachers_arrow-prev::after {
        top: 165px;
        left: -46px;
    }
    
    .teachers_arrow-next::after {
        top: 160px;
        left: 85px;
    }
}

@media (min-width: 1024px) {
    .teachers {
        margin-bottom: 88px;
    }

    .teachers_title {
        margin-top: 19px;
    }

    .slider-container {
        margin-top: 88px;
    }

    .teachers_list {
        width: 2560px;
    }
    .teachers_container {
        width: 960px;
    }

    .teachers_item {
        width: 320px;
    }

    .teachers_name {
        margin-top: 10px;
    }

    .teachers_arrow-next,
    .teachers_arrow-prev {
        width: 32px;
    }

    .teachers_arrow-prev::after {
        top: 153px;
        left: 2px;
    }
    
    .teachers_arrow-next::after {
        top: 147px;
        left: -10px;
    }

    .teachers_dot {
        display: none;
    }

    .laptop-dot {
        display: block;
    }

    .teachers_dots-list {
        margin-top: 29px;
        margin-left: 8px;
    }
}

@media (min-width: 1920px) {
    .teachers_container {
        width: 1140px;
    }

    .teachers_list {
        width: 2280px;
    }

    .teachers_item {
        width: 285px;
    }

    .laptop-dot {
        display: none;
    }

    .desctop-dot {
        display: block;
    }

    .teachers_arrow-prev::after {
        top: 127px;
        left: -19px;
    }
    
    .teachers_arrow-next::after {
        top: 121px;
        left: 25px;
    }
}